In [144]:
import numpy as np
import pandas as pd

In [152]:
df=pd.read_csv('./titanic.csv')

In [218]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [219]:
not_useful=['PassengerId','Name','Ticket','Cabin','Embarked']

In [220]:
data=df

In [221]:
clean_data=data.drop(columns=not_useful)

In [222]:
Y=clean_data['Survived']

In [223]:
X=clean_data

In [224]:
from sklearn.preprocessing import LabelEncoder

In [225]:
le=LabelEncoder()

In [226]:
X['Sex']=le.fit_transform(X['Sex'])

In [227]:
X

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare
0           0       3    1  22.0      1      0    7.2500
1           1       1    0  38.0      1      0   71.2833
2           1       3    0  26.0      0      0    7.9250
3           1       1    0  35.0      1      0   53.1000
4           0       3    1  35.0      0      0    8.0500
5           0       3    1   NaN      0      0    8.4583
6           0       1    1  54.0      0      0   51.8625
7           0       3    1   2.0      3      1   21.0750
8           1       3    0  27.0      0      2   11.1333
9           1       2    0  14.0      1      0   30.0708
10          1       3    0   4.0      1      1   16.7000
11          1       1    0  58.0      0      0   26.5500
12          0       3    1  20.0      0      0    8.0500
13          0       3    1  39.0      1      5   31.2750
14          0       3    0  14.0      0      0    7.8542
15          1       2    0  55.0      0      0   16.0000
16          0       3    1   2.0      4      1   29.1250
17          1       2    1   NaN      0      0   13.0000
18          0       3    0  31.0      1      0   18.0000
19          1       3    0   NaN      0      0    7.2250
20          0       2    1  35.0      0      0   26.0000
21          1       2    1  34.0      0      0   13.0000
22          1       3    0  15.0      0      0    8.0292
23          1       1    1  28.0      0      0   35.5000
24          0       3    0   8.0      3      1   21.0750
25          1       3    0  38.0      1      5   31.3875
26          0       3    1   NaN      0      0    7.2250
27          0       1    1  19.0      3      2  263.0000
28          1       3    0   NaN      0      0    7.8792
29          0       3    1   NaN      0      0    7.8958
..        ...     ...  ...   ...    ...    ...       ...
861         0       2    1  21.0      1      0   11.5000
862         1       1    0  48.0      0      0   25.9292
863         0       3    0   NaN      8      2   69.5500
864         0       2    1  24.0      0      0   13.0000
865         1       2    0  42.0      0      0   13.0000
866         1       2    0  27.0      1      0   13.8583
867         0       1    1  31.0      0      0   50.4958
868         0       3    1   NaN      0      0    9.5000
869         1       3    1   4.0      1      1   11.1333
870         0       3    1  26.0      0      0    7.8958
871         1       1    0  47.0      1      1   52.5542
872         0       1    1  33.0      0      0    5.0000
873         0       3    1  47.0      0      0    9.0000
874         1       2    0  28.0      1      0   24.0000
875         1       3    0  15.0      0      0    7.2250
876         0       3    1  20.0      0      0    9.8458
877         0       3    1  19.0      0      0    7.8958
878         0       3    1   NaN      0      0    7.8958
879         1       1    0  56.0      0      1   83.1583
880         1       2    0  25.0      0      1   26.0000
881         0       3    1  33.0      0      0    7.8958
882         0       3    0  22.0      0      0   10.5167
883         0       2    1  28.0      0      0   10.5000
884         0       3    1  25.0      0      0    7.0500
885         0       3    0  39.0      0      5   29.1250
886         0       2    1  27.0      0      0   13.0000
887         1       1    0  19.0      0      0   30.0000
888         0       3    0   NaN      1      2   23.4500
889         1       1    1  26.0      0      0   30.0000
890         0       3    1  32.0      0      0    7.7500

[891 rows x 7 columns]

In [228]:
X['Age'].mean()

29.69911764705882

In [229]:
X=X.fillna(X['Age'].mean())

In [230]:
print(X.shape,Y.shape)

(891, 7) (891,)

In [231]:
#Define Entropy and information Gain
def Entropy(col):
    N=col.shape[0]
    ent=0.0
    Y=np.unique(col,return_counts=True)
    for i in Y[1]:
        p=i/N
        ent+=-(p*np.log2(p))
    return ent

In [232]:
def split_data(x_data,f_key,f_val):
    x_left=pd.DataFrame([],columns=x_data.columns)#Creates an empty pandas dataframe with given columns
    x_right=pd.DataFrame([],columns=x_data.columns)
    for j in range(x_data.shape[0]):
        val=x_data[f_key].loc[j]
        if val<f_val:
            x_left=x_left.append(x_data.loc[j])
        else:
            x_right=x_right.append(x_data.loc[j])
    return x_left,x_right

In [233]:
def Info_gain(x_data,f_key,f_val):
    left,right=split_data(x_data,f_key,f_val)
    l=float(left.shape[0]/x_data.shape[0])
    r=float(right.shape[0]/x_data.shape[0])
    sum = Entropy(X['Survived'])-(l*Entropy(left['Survived'])+r*Entropy(right['Survived']))
    return sum

In [238]:
L=[]
features=['Pclass','Sex','Age','SibSp','Parch','Fare']
for i in features:
    val=Info_gain(X,i,X[i].mean())
    L.append(val)
    print(features[np.argmax(L)])

Pclass
Sex
Sex
Sex
Sex
Sex

In [235]:
features

['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']

In [241]:
#Creating a decision tree
class Decision_tree:
    def __init__(self,depth=0,max_depth=5):
        self.left=None
        self.right=None
        self.f_key=None
        self.f_val=None
        self.depth=depth
        self.max_depth=max_depth
        self.target=None
    def train(self,X_Train):
    
        features=['Pclass','Sex','Age','SibSp','Parch','Fare']
        L=[]
        for i in features:
            val=Info_gain(X_Train,i,X_Train[i].mean())
            L.append(val)
        self.f_key=features[np.argmax(L)]
        self.f_val=X_Train[self.f_key].mean()
        print('Making Features in',self.f_key)
        data_left,data_right=split_data(X_Train,self.f_key,self.f_val)
        data_left=data_left.reset_index(drop=True)
        data_right=data_right.reset_index(drop=True)
            #Base Case --->when a leaf node occurs
        if data_left.shape[0]==0 or data_right.shape[0]==0:
            if X_Train.Survived.mean()>=0.5:
                self.target='Survived'
            else:
                self.target='Dead'
            return
            #Base Case ---->when max_depth reached
        if(self.depth>=self.max_depth):
            if X_Train.Survived.mean() >= 0.5:
                self.target='Survived'
            else:
                self.target='Dead'
            return
            #Recursive case
            #left-Tree
        self.left=Decision_tree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
            #Right-Tree
        self.right=Decision_tree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
            #Set Target After Every Node
        if(self.depth>=self.max_depth):
            if X_Train.Survived.mean() >=0.5:
                self.target='Survived'
            else:
                self.target='Dead'
            return

In [242]:
d=Decision_tree()
d.train(X)

Making Features in Sex
Making Features in Pclass
Making Features in Pclass
Making Features in Parch
Making Features in Age
Making Features in Pclass
Making Features in Age
Making Features in Parch
Making Features in Pclass
Making Features in Fare
Making Features in Parch
Making Features in Age
Making Features in Age
Making Features in Age
Making Features in Age
Making Features in Pclass
Making Features in Age
Making Features in Fare
Making Features in SibSp
Making Features in Fare
Making Features in Fare
Making Features in Age
Making Features in SibSp
Making Features in Parch
Making Features in Pclass
Making Features in SibSp
Making Features in Fare
Making Features in Parch
Making Features in Parch
Making Features in Age
Making Features in Age
Making Features in Pclass
Making Features in Fare
Making Features in Parch
Making Features in Pclass
Making Features in Pclass
Making Features in Pclass
Making Features in SibSp
Making Features in Age
Making Features in Age
Making Features in Age
Making Features in Age
Making Features in Age
Making Features in Age
Making Features in Age
Making Features in Age
Making Features in Fare
Making Features in Pclass
Making Features in Pclass
Making Features in Age
Making Features in Age
Making Features in Fare
Making Features in Age
Making Features in Age
Making Features in Parch
Making Features in SibSp
Making Features in SibSp
Making Features in Pclass
Making Features in Parch
Making Features in SibSp
Making Features in Parch
Making Features in Pclass
Making Features in Age